body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.login{
  display: flex;
  align-items: center;
}

.bg-image{
  background-image: url('https://images.unsplash.com/photo-1467003909585-2f8a72700288');
  height: 100vh;
  width: 30vw;
  background-size: cover;
}

.splash-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  mix-blend-mode: normal;
}

form{
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}